<footer>
        <div class="f-info">
                <div class="f-info-socials">
                    <img src="/images/facebook.svg" alt="facebook">
                    <img src="/images/instagram.png" alt="instagram">  
                    <img src="/images/linkedin.png" alt="linkedin"> 
                          
                  

                </div>
         <div>&copy; 2023 Wanderlust Private Limited. All rights reserved.</div>
         <div class="f-info-links">
                <a href="/privacy">privacy</a>
                  <a href="/terms">terms</a>
         </div>
        </div>


</footer>