<% layout('layouts/boilerplate') %>
<body>
        <h1>all listings</h1>
        <button><a href="/listing/new">create new</a></button>
        <%for(let data of allData){%>
               <ul>
       <li><a href="/listing/<%= data._id %>"><%=data.title %></a></li>
         </ul>
 
        <%}%>
</body>

